<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "css/main.css", "css/blog.css" %>
  <title>Blog | Levy</title>
</head>

<body>
  <%= javascript_include_tag "application" %>

  <div class='header'><%= render "layouts/header" %></div>

    <p id="back-top">
    <a href="#top"><span></span></a>
    <p>

    <div class='wrapper'>
    <div class="welcome">
      <% if logged_in? %>
        <p id="new-post">
          <a href='blog/new'><span></span>novo post</a>
        </p>
      <% end %>
    </div>

    <header class="post-header">
      <h1 class="post-title">blog</h1>
    </header>

    <div class="wrapper">
      <div class="posts-index" id="posts-index">
        <%= render @posts %>
      </div>

      <% if @posts.next_page %>
        <div id="infinite-scrolling">
          <%= will_paginate %>
        </div>
      <% end %>
    </div>
</body>

<body>
<footer><%= render "layouts/footer" %></footer>

</html>